/* Mensagem de erro/sucesso */
.notification {
  margin-bottom: 1.5rem; /* mb-6 */
  padding: 0.75rem; /* p-3 */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
  width: 100%;
  max-width: 28rem; /* max-w-md */
  text-align: center;
}
.notification.success {
  background-color: #DCFCE7; /* bg-green-100 */
  color: #166534; /* text-green-800 */
}
.notification.error {
  background-color: #FEE2E2; /* bg-red-100 */
  color: #991B1B; /* text-red-800 */
}

/* Estilizações do tabuleirio*/
/* Estilos gerais */
div[itemID='boards-for-game'], div[itemID='posicionamento']{
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #fefefe;
  /*border: 1px solid #ddd;*/
  border-radius: 8px;
}
div[itemID='Game'] {
  width: fit-content;
  /*display: flex;*/
  align-items: center;
  gap: 2rem;
  margin: 2rem auto;
  padding: 1.5rem;
}

div[itemID='Init']{
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
  padding: 1.5rem;
  align-items: center;
  /*background: #1a1a1a;*/
  /*border-radius: 8px;*/
}
div[itemID='confirm-buttons'], div[itemId='search-container'],  div[itemID='teste']{
  width: fit-content;
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 2rem;
  padding: 1.5rem;
}
div[itemID='style-buttons']{
  gap: 2rem;
  display: flex;
  align-items: center;
}


.connection-status{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
  color: #1a1a1a;
  margin: 0 auto 30px;
  padding: 10px;
  border-radius: 5px;
}

.controls {
  display: flex;
  gap: 10px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}
@media (max-width: 480px) {
  .form-data {
    padding: 20px;
  }

  .button {
    font-size: 14px;
    padding: 10px;
  }
}



